@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.panel-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-log-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}

.fixed-bar {
  flex-shrink: 0;
  padding: 10px;
}
