@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #e5e7eb;
  font-family: sans-serif;
  font-weight: 100;
}

#root {
  height: 100%;
}

.panel-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* center children horizontally */
  background: #000000; /* optional: VS Code-ish dark bg */
  color: #e5e7eb;
  overflow: hidden; /* prevent page scroll; only middle scrolls */
}

.fixed-bar {
  flex: 0 0 auto; /* don't grow/shrink */
  width: 100%;
  max-width: 900px; /* center column width */
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #1f1a24;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.chat-log-container {
  flex: 1 1 auto; /* takes up all leftover space */
  width: 100%;
  max-width: 900px;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto; /* ONLY this scrolls */
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 5px;
  background: #121212;
  margin: 1rem 0rem;
}

.chat-input {
  flex: 0 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 0.7rem;
  box-sizing: border-box;
  background: #121212;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.chat-input form {
  display: flex;
  gap: 0.5rem;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
  /* border-radius: 0.5rem; */
  /* border: 1px solid #1f2933;
  background: #1f1a2437; */
  color: #e5e7eb;
  font-size: 0.9rem;
}

.chat-input input::placeholder {
  color: #64748b;
}

.chat-input button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #332940;
  color: #e5e7eb;
  font-size: 2rem;
}
.chat-input input:focus {
  outline: none; /* Removes the standard browser focus ring */
  box-shadow: none; /* Removes any possible box-shadow used for focus */
  border-color: inherit; /* Ensures the border doesn't change color on focus */
}

.view-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.4rem;
  border-radius: 50%;
  color: #e5e7eb;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
.view-buttons:hover {
  cursor: pointer;
  background-color: #332940;
  color: #e5e7eb;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #332940;
  color: #e5e7eb;
  font-size: 1rem;
}
/* Disabled state */
.chat-input button:disabled {
  background-color: #1f1a24;
  cursor: not-allowed;
}

.mermaid-container.dragging {
  /* Cursor when actively dragging */
  cursor: grabbing;
}
